{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
            <form method="post">
                <h1 class="text-2xl font-bold mb-6 text-center">
                    Réinitialisation du mot de passe</h1>
                {% if error %}
                    <div class="alert alert-danger error"></div>
                {% endif %}
                <div class="mb-4">
                    <label for="password" class="block text-gray-700">Mot de passe :</label>
                    <input type="password" name="password" id="password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" autocomplete="current-password" required>
                </div>
            </form>
            
        </div>
    </div>
    

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
