.main-container {
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

body {
    background-color: WHITE;
}

p {
    color: #304F8C;
}

/*
    PRE CONTAINER
 */

.pre-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.details-container {
    display: flex;
    justify-content: center;

    flex-direction: column;
    width: 250px;
}

/*
    SEARCH CONTAINER
 */

/*
    PART1
 */
.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    height: 200px;
}
.search-container-part1 {
    max-width: 800px;
    height: 100%;
    margin-right: 50px;
}
.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.title-search {
    margin-bottom: 10px;
    font-size: 25px;
}
/* site container*/
.site-container {
    margin-top: 25px;
}
.sites {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

/* name container*/
.name-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.name-input {
    padding-left: 25px;
    height: 25px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.name-container-search {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.img-icon {
    margin-right: -20px;
    align-self: center;
    z-index: 1;
}

/* date container  */

.date-calendar {
    margin-top: 15px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

/*
    PART2
 */
.search-container-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;



}
.checkbox-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
}
.search-button-container{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-button{
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}


/*
    RESULT CONTAINER
 */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)); /* Ajuste le nombre de colonnes en fonction de la taille de l'écran */
    gap: 16px; /* Espace entre les cartes */
    margin-top: 25px;
}

.card {

    border-radius: 0.575rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s ease-in-out;
    max-height: 800px;
    background-color: rgb(243 244 246);
    padding: 15px;
}

.card-title {
    font-size: 18px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: rgb(243 244 246);
    color: #000000; /* Couleur du texte */
    padding: 10px;
}

.card-body {
    padding: 15px;
}

.card-footer {
    background-color: rgb(243 244 246);
    padding: 10px;
    text-align: right;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 200px;
}


.img-sortie {

    max-height: 250px;
    max-width: 380px;

    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px; /* Coins arrondis de 4px *
    width: 100%; /* Ajuste la largeur à 100% du conteneur, si nécessaire */
}

.reset-button {
    color: black;
}


.reset-button:hover {
    color: #b90000;
}

.buttons {
    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px;
    padding: 2px;
    margin-left: 15px;
}
.buttons {
    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px;
    padding: 2px;
    margin-left: 15px;
}

h2{
    color: #BF4545;
    text-transform: uppercase;
}

.boutonModifier {
    background-color: #F2811D;
    border: none;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem; /* Arrondi des coins */
    font-size: 1rem; /* Taille du texte */
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boutonModifier:hover{
    background-color: #4b5563; /* Couleur au survol, ajustez selon votre besoin */
}

.boutonCreer:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* Ajoutez une ombre pour le focus si souhaité */
}

.boutonDelete, .boutonModifier, .desinscription, .inscription {
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem; /* Arrondi des coins */
    font-size: 1rem; /* Taille du texte */
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boutonDelete {
    background-color: #BF4545;
    color: #ffffff;
    border: none;
}

.boutonDelete:hover {
    background-color: #4b5563;
}

.search-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    background-color: #304F8C;
    color: #FFFFFF;
    border:none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.search-button:hover {
    background-color: #66A3F2;
}

.btn {
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem; /* Ajuste la taille du texte selon les besoins */
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: #007bff; /* Couleur du texte */
    background: none; /* Pas de fond */
    border: none; /* Pas de bordure */
    border-radius: 0.375rem; /* Coins arrondis */
    transition: color 0.3s ease; /* Transition douce pour la couleur du texte */
}

.btn::before {
    content: ''; /* Contenu vide pour le pseudo-élément */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Épaisseur du surlignage */
    background-color: #007bff; /* Couleur du surlignage */
    transform: scaleX(0); /* Commence avec une échelle de 0 */
    transform-origin: bottom right; /* Point d'origine de la transformation */
    transition: transform 0.3s ease; /* Transition douce pour l'effet de mise à l'échelle */
}

.btn:hover::before {
    transform: scaleX(1); /* Étend à la pleine largeur au survol */
    transform-origin: bottom left; /* Change le point d'origine à gauche pour l'animation */
}

.btn:hover {
    color: #0056b3; /* Changer la couleur du texte au survol si désiré */
}


.buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.delete-form {
    display: inline;
}

.inscription {
    border:none;
    background-color: #0056b3;
    color: #ffffff;
}
.inscription {
    background-color: rgba(0, 86, 179, 0.78);
}

.desinscription {
    border-color: #0056b3;
    background-color: #ffffff;
    color: #0056b3;
    transition: transform 0.3s ease;
}

.desinscription:hover {
    border-color: rgba(0, 86, 179, 0.44);
    color: #0056b3;
}

