.main-container {
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

body {
    background-color: WHITE;
}

p {
    color: #9c0b59;
}

/*
    PRE CONTAINER
 */

.pre-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
}

/*
    SEARCH CONTAINER
 */

/*
    PART1
 */
.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    height: 200px;
}
.search-container-part1 {
    width: 50%;
    height: 100%;
}
.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.title-search {
    margin-bottom: 10px;
    font-size: 25px;
}
/* site container*/
.site-container {
    margin-top: 25px;
}
.sites {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

/* name container*/
.name-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.name-input {
    padding-left: 25px;
    height: 25px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.name-container-search {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.img-icon {
    margin-right: -20px;
    align-self: center;
    z-index: 1;
}

/* date container  */

.date-calendar {
    margin-top: 15px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

/*
    PART2
 */
.search-container-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;


}
.checkbox-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.search-button-container{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-button{
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}


/*
    RESULT CONTAINER
 */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)); /* Ajuste le nombre de colonnes en fonction de la taille de l'écran */
    gap: 16px; /* Espace entre les cartes */
    margin-top: 25px;
}

.card {

    border-radius: 0.575rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s ease-in-out;
    max-height: 800px;
    background-color: rgb(243 244 246);
}

.card-title {
    font-size: 18px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: rgb(243 244 246);
    color: #000000; /* Couleur du texte */
    padding: 10px;
}

.card-body {
    padding: 15px;
}

.card-footer {
    background-color: rgb(243 244 246);
    padding: 10px;
    text-align: right;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.img-sortie {

    max-height: 250px;
    max-width: 380px;

    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px; /* Coins arrondis de 4px *
    width: 100%; /* Ajuste la largeur à 100% du conteneur, si nécessaire */
}

.reset-button {
    color: black;
}


.reset-button:hover {
    color: #b90000;
}

.buttons {
    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px;
    padding: 2px;
    margin-left: 15px;
}

