.main-container {
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    color: #304F8C;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*
    PRE CONTAINER
 */


.detail-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;
}

.image-section {
    flex: 1;
    overflow: hidden;
}

.image-section img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.content-section {
    flex: 2;
    display: flex;
    gap: 20px;
}
.details-and-map {
    flex: 1;
}

.participants-section {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
}
.card {
    display: flex;
    flex-direction: row;
    border-radius: 0.575rem;
    overflow: hidden;
    background-color: rgb(243, 244, 246);
    transition: box-shadow 0.15s ease-in-out;
    min-height: 400px; /* Réduire la hauteur minimale */
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.img-sortie {
    max-height: 250px;
    max-width: 380px;
    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px; /* Coins arrondis */
    width: 100%;
}

.card-title {
    font-size: 18px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    color: #000000; /* Couleur du texte */
    padding: 10px;
}

.card-body {
    padding: 15px;
}

.card-footer {
    background-color: #ffffff; /* Couleur de fond du footer */
    padding: 10px;
    text-align: right;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.img-sortie {

    max-height: 250px;
    max-width: 380px;

    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px; /* Coins arrondis de 4px *
    width: 100%; /* Ajuste la largeur à 100% du conteneur, si nécessaire */
}

h2 {
    margin-left: 20px;
    color: #304F8C;
}
/* Styles généraux pour les éléments de la liste */

input[type="checkbox"] {
    display: none;
    cursor:pointer;
}
/* Masquer les cases à cocher */
input[type="checkbox"] {
    display: none;
}

/* PAS TOUCHER SENSIBLE */
li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    color: #333;
    position: relative;
    cursor: pointer;
}

label {
    display: block;
    position: relative;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: #fdd;
    border-color: #f88;
}

input[type="checkbox"]:checked + label::after {
    content: "✘";
    color: #f00;
    font-size: 1.2em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}


.boutonDeleteParticipants{
    background-color: #BF4545;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem; /* Arrondi des coins */
    font-size: 1rem; /* Taille du texte */
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.participantsSection {
    margin-left: 30px;
}


.boutonDeleteParticipants:hover {
    background-color: #4b5563;
}

.back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #304F8C;
    border-radius: 50%;
    text-decoration: none;
    border: 2px solid #fff;
    margin-top: 20px; /* Écart avec le header */
    margin-left: 20px; /* Écart avec la gauche */
    transition: background-color 0.3s, border-color 0.3s; /* Transition douce pour les changements de couleur */
    fill: #fff; /* Couleur de la flèche */
}

.back-button:hover {
    background-color: #253C77; /* Couleur au survol */
    border-color: #ddd; /* Bordure au survol */
}




