.main-container {
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    color: #304F8C;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*
    PRE CONTAINER
 */


.details-container {
    display: flex;
    flex-direction: column;
}

/*
    SEARCH CONTAINER
 */

/*
    PART1
 */
.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    height: 200px;
}
.search-container-part1 {
    width: 50%;
    height: 100%;
}
.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.title-search {
    margin-bottom: 10px;
    font-size: 25px;
}
/* site container*/
.site-container {
    margin-top: 25px;
}
.sites {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

/* name container*/
.name-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.name-input {
    padding-left: 25px;
    height: 25px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.name-container-search {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.img-icon {
    margin-right: -20px;
    align-self: center;
    z-index: 1;
}

/* date container  */

.date-calendar {
    margin-top: 15px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

/*
    PART2
 */
.search-container-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;


}
.checkbox-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.search-button-container{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-button{
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}


/*
    RESULT CONTAINER
 */



.card {
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-radius: 0.575rem;
    overflow: hidden;
    background-color: rgb(243 244 246);
    transition: box-shadow 0.15s ease-in-out;
    min-height: 600px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.card-title {
    font-size: 18px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    color: #000000; /* Couleur du texte */
    padding: 10px;
}

.card-body {
    padding: 15px;
}

.card-footer {
    background-color: #ffffff; /* Couleur de fond du footer */
    padding: 10px;
    text-align: right;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.img-sortie {

    max-height: 250px;
    max-width: 380px;

    box-sizing: border-box;
    border: 2px solid black; /* Bordure noire de 2px */
    border-radius: 4px; /* Coins arrondis de 4px *
    width: 100%; /* Ajuste la largeur à 100% du conteneur, si nécessaire */
}

h2 {
    margin-left: 20px;
    color: #304F8C;
}
ul {
    padding-left: 0; /* Supprime le padding gauche pour les puces */
    margin: 0; /* Supprime les marges par défaut */
    list-style-type: none;
}

li {
    background-color: #f9f9f9; /* Couleur de fond légère pour chaque élément */
    border: 1px solid #ddd; /* Bordure grise autour de chaque élément */
    border-radius: 5px; /* Coins arrondis pour les éléments */
    padding: 10px; /* Espacement interne autour du texte */
    margin: 10px 0; /* Espacement vertical entre les éléments */
    font-family: 'Verdana', sans-serif; /* Police pour les éléments de liste */
    color: #333; /* Couleur du texte pour une bonne lisibilité */
    list-style: none; /* Enlève les puces */
    cursor: pointer; /* Changer le curseur pour indiquer que l'élément est cliquable */
    position: relative; /* Pour positionner la croix rouge */
}

li.selected {
    background-color: #fdd; /* Couleur de fond pour les éléments sélectionnés */
    border-color: #f88; /* Couleur de la bordure pour les éléments sélectionnés */
}

li.selected::before {
    content: "✘"; /* Utilise une croix rouge */
    color: #f00; /* Couleur rouge pour la croix */
    font-size: 1.2em; /* Taille de la croix */
    position: absolute; /* Positionne la croix par rapport au <li> */
    top: 10px; /* Espacement depuis le haut */
    right: 10px; /* Espacement depuis la droite */
}

.boutonDeleteParticipants{
    background-color: #BF4545;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem; /* Arrondi des coins */
    font-size: 1rem; /* Taille du texte */
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.boutonDeleteParticipants:hover {
    background-color: #4b5563;
}



