* {
    font-family: "Bree Serif";
}

body {
    background-color: WHITE;
}

header {
    background-color: #F2F2F2;
}
.titlehome {
    color: #304F8C
}

.titleDateHome {
    color: #4EB3C3
}

.titleButton2Home {
    background-color: #BF4545;
    transition: 500ms;
}

.titleButton1Home {
    background-color: #F2811D;
    transition: 500ms;
}

.hoverheaderbuttons {
    color: #304F8C;
}
.hoverheaderbuttons:hover {
    color: #66A3F2;
}

.titleButton1Home:hover, .titleButton2Home:hover {
    background-color: #66A3F2;
    transition: 500ms;
}

.colorChampsForm {
    color: #304F8C;
}
.colorborder:focus {
    border-color: #BF4545;
}

.colorborder {
    background-color: rgba(255, 255, 255, 0.77);
}

#lieu-results {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
}
#lieu-results div:hover {
    background-color: #f0f0f0;
}

.boutonReinit {
    background-color: #F2811D;
    transition: 500ms;
}

.boutonCreer {
    background-color: #BF4545;
    transition:500ms;
}
.boutonCreer:hover, .boutonReinit:hover {
    background-color: #66A3F2;
    transition:500ms;
}

.error, .titleForm {
    color: #BF4545;
}

.HEADERlOGO {
    width: 100px;
}

.boutonconnect {
    color: #BF4545;
}

.form-container {
    width: 50%;
}

.map-container {
    width: 50%;
}

#map {
    height: 400px;
    width: 100%;
}

.hidden {
    display: none;
}

.container-img-previsualisation {
    width: 20%;
}